.subtitle{
    
    color: #fff;
  font-size: 1.625rem;
  text-align: center;
  /* border: 2px solid red; */
  margin-top: 2rem;
  margin-bottom: 0rem;
  padding-top:1rem ;
  padding-bottom: 0rem;
  /* height: 2rem; */
}
